/*******************************************************************************
While building the design system, use this file for quick styling.
- Note which Bootstrap Less files you are overriding ex: components/modals.less
- Once development is complete, create the required less files for override in
/troops/bestcaseonline/___________/filename.less and move the css
from this file to the new file.
- Once the css have been moved, create an import in this file to the new file.
*/
// Bootstrap
@import "../../bootstrap";

@import "mixins/buttons";                 // Button constructs
@import "mixins/box-shadow.less";         // Shadow layer constructs
@import "components/navbar";              // Nav styles

//Always last
@import "variables";             // New and override variables


/*******************************************************************************
Silverback
Custom styling just for adjusting examples in the iframes in Silverback
*/

.bc_examples {
  padding-top: 15px;
  .btn+.btn-block {
    margin-top: 50px;
  }

  #slvrbck-example-modal-standard,
  #slvrbck-example-modal-small,
  #slvrbck-example-modal-large,
  #slvrbck-example-modal-doc {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }

  //Tooltip example
  &.post-1309 button {
    margin-top: 50px;
    &:first-of-type {
      margin-left: 100px;
    }
  }

  //Popover example
  .popover-example {
    .make-sm-column(5);
    margin: 75px auto;
    float: none !important;

    button {
      margin-bottom: 25px;
    }
  }

}

.offcanvas-toggle {
  display: none;
@media screen and (max-width: @screen-md-min) {
  body.at2 &,
  body.at4 & {
    display: inline-block;
  }
  }
}

#app-footer {
  background-color: @gray-light;
  .panel {
    text-align: center;
    margin-bottom: 0;
    background-color: transparent;
  }
}


/*******************************************************************************
Global
*/

body,
html {
  height: 100%;
  position: relative;
}

body.page-template-app-bestcase {
  padding-top: 62px;
  background-color: #f8f8f8;
}

.mdi {
  // Base material design icon style
  font-size: 24px;
  vertical-align: middle;

  // Vertical dots menu icon
  a .mdi-dots-vertical& {
    color: @text-color;
    font-size: 26px;

    // Vertical dots in list group item
    .list-group-item & {
      float: right;
      margin-top: -8px;
    }
  }

  // File type brand colors
  .mdi-file-pdf {
    color: #962100;
  }
  .mdi-file-excel {
    color: #006600;
  }
  .mdi-file-word {
    color: #336699;
  }

  // Material icons that have an identifier class (notifications)
  &.success {
    color: @brand-success;
  }
  &.info {
    color: @brand-info;
  }
  &.error {
    color: @brand-danger;
  }
  &.warning {
    color: @brand-warning;
  }
}

/*******************************************************************************
Best Case App Layouts
*/


#app {
  #app-outer {
    #app-container {
      &:extend(.container-fluid);
      #app-content {
        .make-row();
        padding-top:30px;
        padding-bottom: 30px;
      }
    }
  }
  #app-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    #footer-container {
      &:extend(.container-fluid);
      #footer-content {
        .make-row();
        #footer-content-primary {
          @media (min-width: @screen-md-min) {
            .make-md-column(10);
            float: none !important;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}


.at1 {
  .app-content-primary {
    @media (min-width: @screen-md-min) {
      .make-md-column(10);
      float: none !important;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.at2 {
  .app-content-primary {
    .make-md-column(9);
    .make-lg-column(10);
  }

  .app-content-secondary {
    .make-md-column(3);
    .make-lg-column(2);
  }
}

.at3 {
  .app-content-primary {
    .make-md-column(9);
  }

  .app-content-tertiary {
    .make-md-column(3);
  }
}

.at4 {
  .app-content-secondary {
    .make-md-column(3);
    .make-lg-column(2);
  }

  .app-content-primary {
    .make-md-column(6);
    .make-lg-column(7);
  }

  .app-content-tertiary {
    .make-md-column(3);
  }
}

/*
* Off Canvas
* --------------------------------------------------
*/
@media screen and (max-width: @screen-md-min) {
  .secondary-offcanvas {
    left: 0;
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;

    .app-content-secondary {
      left: -50%; /* 6 columns */
      position: absolute !important;
      top: 30px;
      width: 50%; /* 6 columns */
    }

    &.active {
      left: 50%; /* 6 columns */
    }
  }
}




/*******************************************************************************
Upcoming Events
*/

dt.upcoming-event-time {
  font-weight: 700;
  text-transform: uppercase;
}
dt .upcoming-event-time-hour {
  font-weight: 300;
  font-size: @font-size-large + 2px;
}
.upcoming-event-title,
.upcoming-event-location {
  .text-overflow();
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {

  dl.upcoming-event {
    .clearfix();
    padding-top: 7px;
  }
  dt.upcoming-event-time {
    position: relative;
    float: left;
    padding: 5px;
    width: 25%;
    text-align: right;
    background-color: @bc-sp01;
    margin-right: 15px;
    margin-top: -7px;
    color: @white;
  }
  dt .upcoming-event-time-hour {
    display: block;
    margin-bottom: -5px;
  }
  .upcoming-event-location {
    .small;
  }
}


/*******************************************************************************
type.less
*/

//Remove the top margin from all headings so paddings are true (standard in BS4.0)

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  //margin-bottom: (@line-height-computed / 2);
}

p {
  margin: 0 0 (@line-height-computed);

  &+ul {
    margin-top: -12px;
  }
}

.hint {
  &:extend(.text-muted);
}

.loud {
  color: @bc-sp02;
}


/*******************************************************************************
buttons.less
*/

//Remove glow from items with focus
.focus,
:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}

//Apply a left margin to buttons for spacing
.btn {
  margin-left: 10px;

  //Remove the margin if:
  &:first-of-type,
  &+.dropdown-toggle,
  &.btn-block {
    margin-left: 0;
  }
}

/*
//Outline
.btn-secondary {
.button-variant(@text-color; transparent; @bc-s02-20);
}
*/

//New secondary button class
.btn-secondary {
  .button-variant(@text-color; lighten(@bc-s02-20, 5%); lighten(@bc-s02-20, 5%););
  &.dropdown-toggle {
    border-left-color: darken(@bc-s02-20, 5%);
  }
}

//New tertiary button class
.btn-tertiary {
  .button-variant(@white; @bc-s03; @bc-s03;);
  &.dropdown-toggle {
    border-left-color: darken(@bc-s03, 5%);
  }
}


.btn-icon {
  padding-top: 2px;
  padding-bottom: 0;
  .mdi {
    font-size: @font-size-btn-icon;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
  }
  &.btn-sm .mdi {
    margin-right: 3px;
  }
  &.dropdown-toggle .mdi,
  &.dropdown-toggle.btn-sm .mdi {
    margin: 0 -5px 0 0;
  }
}

//Create an icon only button
.button-icon-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:focus,
  &.focus {
    color: @text-color;
  }
  &:hover {
    color: @text-color;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @text-color;

    &:hover,
    &:focus,
    &.focus {
      color: @text-color;
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

// Style the icon only buttons
.btn-link-icon {
  .button-icon-variant(@gray-light; transparent; transparent;);
}

.search-wrap + button,
.search-wrap + .dropdown {
  margin-bottom: 15px;
}


/*******************************************************************************
badges.less
*/

.badge {
  background-color: @bc-p02;
  &.super {
    position: relative;
    margin-left: -11px;
    margin-top: -17px;
  }
}

/*******************************************************************************
labels.less
*/

.label {
  text-transform: uppercase;
}




/*******************************************************************************
Extend panels.less
*/

/************************************
montane Panel
*/
.panel-montane {
  border: none;
  border-top: 5px solid @bc-p01;
  .layer(1);

  .panel-heading,
  .panel-footer {
    background-color: transparent;
    border-color: transparent;
  }

  .panel-heading {
    .panel-title {
      font-size: @font-size-h3 + 1;
    }
    .panel-heading-content {
      .make-row ();
      .heading-content-left,
      .heading-content-right {
        .make-sm-column (6);
      }
      & > div:first-of-type:last-of-type {
        .make-sm-column (12);
      }
    }
  }

  .panel-footer {
    padding: 20px 30px;
    border-top-color: @bc-s02-20;
    .panel-footer-content {
      .make-row();
      .footer-content-left,
      .footer-content-right {
        .make-sm-column (6);
      }
      & > div:first-of-type:last-of-type {
        .make-sm-column (12);
      }
    }
  }
  @media (min-width: @screen-sm-min) {
    .panel-heading-content .heading-content-right,
    .panel-footer-content .footer-content-right {
      text-align: right;
    }
  }
  @media (min-width: @screen-md-min) {
    .panel-heading,
    .panel-body {
      padding: 30px;
    }
    .panel-heading+.panel-body {
      padding-top: 0px;
    }
  }
}

/************************************
Sidebar navigation Panel
*/
.panel-sidenav {
  height: 100%;
  border: none;
  box-shadow: none;
  background-color: #fdfdfd;

  .panel-heading,
  .panel-footer {
    background-color: transparent;
    border-color: transparent;
  }

  .panel-heading {
    .panel-title {
      font-size: @font-size-h3 + 1;
    }
    .panel-heading-content {
      .make-row ();
      .heading-content-left,
      .heading-content-right {
        .make-sm-column (6);
      }
      & > div:first-of-type:last-of-type {
        .make-sm-column (12);
      }
    }
  }

  .panel-body {
    padding: 0;
    height:93.75%;
    overflow: hidden;
    &:hover {
      overflow-y: auto;
    }
    ul {
      padding:8px 0;
    }
  }

  .panel-footer {
    padding: 10px 0px;
    height: 6.25%;
    border-top-color: @bc-s02-20;
    background-color: lighten(@bc-s02-20, 10%); //#edf0f2;
    .panel-footer-content {
      .make-row();
      .footer-content-left,
      .footer-content-right {
        .make-sm-column (6);
      }
      & > div:first-of-type:last-of-type {
        .make-sm-column (12);
      }
      .btn-block {
        text-align: right;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    .panel-heading-content .heading-content-right,
    .panel-footer-content .footer-content-right {
      text-align: right;
    }
  }
  @media (min-width: @screen-md-min) {
    .panel-heading+.panel-body {
      padding-top: 0px;
    }
  }
}

.panel-body-filter-row {
  .make-row();
}

/************************************
Sidebar navigation Panel
*/
.panel-sideview {
  height: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;

  .panel-heading,
  .panel-footer {
    background-color: transparent;
    border-color: transparent;
  }

  .panel-heading {
    padding-top: 0;
    padding-bottom: 0;
    .panel-title {
      font-size: @font-size-h6;
      font-weight: 400;
      text-transform: uppercase;
      color: @bc-s02-60;
    }
    .panel-heading-content {
      .make-row ();
      .heading-content-left,
      .heading-content-right {
        .make-sm-column (6);
      }
      & > div:first-of-type:last-of-type {
        .make-sm-column (12);
      }
    }
  }

  .panel-body {
    padding: 0;
    height:93.75%;
    overflow: hidden;
    &:hover {
      overflow-y: auto;
    }
    ul {
      padding:8px 0;
      &:first-of-type {
        padding-top: 0;
      }
    }
  }

  .panel-footer {
    padding: 10px 0px;
    height: 6.25%;
    border-top-color: @bc-s02-20;
    background-color: lighten(@bc-s02-20, 10%); //#edf0f2;
    .panel-footer-content {
      .make-row();
      .footer-content-left,
      .footer-content-right {
        .make-sm-column (6);
      }
      & > div:first-of-type:last-of-type {
        .make-sm-column (12);
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    .panel-heading-content .heading-content-right,
    .panel-footer-content .footer-content-right {
      text-align: right;
    }
  }
  @media (min-width: @screen-md-min) {
    .panel-heading+.panel-body {
      padding-top: 0px;
    }
  }
}

/************************************
Filter Panel
*/
.panel-filter {
  border-color: @bc-s02-20;
  border-top: 3px solid @bc-sp01;
  .layer(2);
  background-color: transparent;

  .panel-heading,
  .panel-footer {
    background-color: transparent;
    border-color: transparent;
  }

  .panel-heading {
    .panel-title {
      font-size: @font-size-h6;
      font-weight: 400;
      text-transform: uppercase;
      color: @bc-s02-60;
    }
    .panel-heading-content {
      .make-row ();
      .heading-content-left,
      .heading-content-right {
        .make-sm-column (6);
      }
      & > div:first-of-type:last-of-type {
        .make-sm-column (12);
      }
    }
  }

  .panel-footer {
    padding: 20px;
    border-top-color: @bc-s02-20;
    background-color: transparent;
    .panel-footer-content {
      .make-row();
      .footer-content-left,
      .footer-content-right {
        .make-sm-column (6);
      }
      & > div:first-of-type:last-of-type {
        .make-sm-column (12);
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    .panel-heading-content .heading-content-right,
    .panel-footer-content .footer-content-right {
      text-align: right;
    }
  }
  @media (min-width: @screen-md-min) {
    .panel-heading,
    .panel-body {
      padding: 20px;
    }
    .panel-heading+.panel-body {
      padding-top: 0px;
    }
  }

  .dropdown {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}



/*******************************************************************************
navbar.less
*/

/************************************
Main nav #app-header
*/

#app-header {
  background-color: @white;
  border: none;
  .layer(2);

  @media (min-width: @screen-md-min) {
    padding-top: 12px;
  }


  .navbar-header {
    .navbar-brand {
      .navbar-brand-logo {
        background-image: url("/wp-content/uploads/bc-app-sphere.svg");
        align-items: center;
        background-repeat: no-repeat;
        display: flex;
        height: 34px;
        padding-left: 42px;
        margin-top: -7px;

        @media (min-width: @screen-md-min) {
          margin-top: -15px;
        }

        .navbar-brand-wordmark {
          &:extend(.hidden-sm);
          background-image: url("/wp-content/uploads/bc-app-wordmark.svg");
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 124px auto;
          margin: 0;
          overflow: hidden;
          text-indent: 100%;
          white-space: nowrap;
          width: 124px;
        }
      }
    }
  }

  #navbar {
    max-height: none;

    ul.navbar-nav {
      li {
        a:first-child {
          color: @bc-p01-80;
          &:hover,
          &:focus {
            color:@bc-p01;
            background-color: transparent;
            text-decoration: none;
          }
        }
      }
      &:first-child { //ul.navbar-nav:first-child
        li {
          &.active a {
            border-bottom: 4px solid @bc-p01;
            color: @bc-p01;
            font-weight: 600;
            background-color: transparent !important;
          }
          a {
            padding-left: 2px;
            padding-right: 2px;
            padding-bottom: 16px;
            margin-left: 10px;
            margin-right: 10px;

            @media (min-width: @screen-md-min) {
              margin-left: 23px;
              margin-right: 23px;
            }
          }
        }

        @media (min-width: @screen-md-min) {
          margin-top: -6px;
        }
      }

      &.navbar-right { //ul.navbar-nav.navbar-right
        li>div>a,
        li>div>button {
          padding-left: 15px;
          padding-right: 15px;
        }
        .navbar-notification {
          &.dropdown.open>a,
          .dropdown>a:hover {
            color: @bc-p01;
            text-decoration: none;
            background-color: transparent;
          }
        }
        .navbar-user {
          a {
            .navbar-user-avatar {
              height: 40px;
              width: 40px;
              margin-right: 15px;
              border-radius: 50%;
              &:extend(.hidden-xs);
            }

            .navbar-user-dropdown {
              display: inline-block;
              line-height: 1;
              &:extend(.hidden-sm);

              .user-dropdown-label {
                float: left;
                padding-top: 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 130px;

                @media (min-width: @screen-lg-min) {
                  max-width: 260px !important;
                }
              }
            }
          }
          &.dropdown.open>a,
          .dropdown>a:hover {
            color: @bc-p01;
            text-decoration: none;
            background-color: transparent;
          }
        }
      }
    }
  }
}

//Montane Notification List Panel
.panel-montane.notification {
  &:extend(.dropdown-menu all);
  &:extend(.dropdown-menu-right all);

  @media (min-width: @screen-sm-min) {
    width: @screen-sm-min;
  }
  .panel-body {
    padding: 15px 0;
    .list-group {
      &:extend(.container-fluid all);
      margin-bottom: 0;
      .list-group-item {
        .make-row();
        padding: 10px 15px;
        border: none;
        font-size: @font-size-small;
        &:nth-of-type(even) {
          background-color: #f9f9f9;
        }
        .navbar-notification-icon {
          &:extend(.hidden-xs all);
        }
        &:hover .navbar-notification-icon,
        &:focus .navbar-notification-icon {
          .opacity(1);
        }
        @media (min-width: @screen-sm-min) {
          .navbar-notification-icon {
            .opacity(.7);
            .make-sm-column(1);
          }

          .navbar-notification-message {
            .make-sm-column(9);
            padding-top: 5px;
          }

          .navbar-notification-time {
            .make-sm-column(2);
            padding-top: 5px;
            text-align: right;
          }
        }
      }
    }
  }
  .panel-footer .btn-link {
    color: @link-color;
  }
}

//Montane Navbar User Panel
.panel-montane.user {
  &:extend(.dropdown-menu all);
  &:extend(.dropdown-menu-right all);
  > .panel-body {
    padding: 15px 0;
    > .list-group {
      &:extend(.container-fluid all);
      margin-bottom: 0;
      & .list-group-item {
        .make-row();
        color: @link-color;
        border: none;
      }
      & a.list-group-item:hover {
        background-color: #f9f9f9;
      }
      > dl {
        font-size: @font-size-small;
        > dt.list-group-item {
          padding-bottom: 1px;
          color: @text-color;
        }
        > dd.list-group-item {
          padding-top: 1px;
          color: @text-color;
        }
      }
    }
  }
  & .navbar-user-panel-avatar {
    &:hover {
      background-color: transparent !important;
    }
    &:extend(.hidden-xs,.hidden-sm);
    > img {
      border-radius: 50%;

    }
  }
}

//Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {
  .panel-montane.user {
    min-width: 200px;
  }
}

// Montane notification and user panel shadows
.panel-montane.notification,
.panel-montane.user {
  border: none;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  .layer(3);
  &:hover {
    .layer(5);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

// Side navigation in the sidebar
.panel-sidenav {
  .nav-stacked {
    li {
      &.active {
        a {
          color: @bc-s01;
          background-color: transparent;
          //font-weight: 600;

          &:hover,
          &:focus {
            color: @bc-s01;
            background-color: transparent;
          }

          .badge {
            color: @white;
            background-color: @bc-p02;
          }
        }
      }
      a {
        //font-size: @font-size-base - 1;
        //border-bottom: 1px solid @bc-s02-20;
        color: @gray;
        border-radius: 0;

        &:hover,
        &:focus {
          color: @white;
          background-color: @bc-s01;
        }
        .mdi {
          margin-right: 15px;
        }
        .badge {
          margin-left: 10px;
        }
      }
    }
    @media (min-width: @screen-sm-min) {
      li {
        a {
          .badge {
            float: right;
            margin-top: 9px;
          }
        }
      }
    }
  }
}

// Side view menu in the app-content area - Not sidebar navigation

.panel-sideview {
  .nav-stacked {
    li {
      &.active {
        a {
          color: @bc-s01;
          background-color: transparent;
          font-weight: 600;

          &:hover,
          &:focus {
            color: @bc-s01;
            background-color: transparent;
          }

          .badge {
            color: @white;
            background-color: @bc-p02;
          }
        }
      }
      a {
        //font-size: @font-size-base - 1;
        //border-bottom: 1px solid @bc-s02-20;
        color: @gray;
        border-radius: 0;
        border-bottom: 1px solid @bc-s02-20;

        &:hover,
        &:focus {
          color: @white;
          background-color: @bc-s01;
        }
        .mdi {
          margin-right: 15px;
        }
        .badge {
          margin-left: 10px;
        }
        @media (max-width: @screen-xl-min) {
          font-size: 13px;
          padding: 8px 5px;
          .mdi {
            margin-right: 10px;
          }
        }
      }
    }
    @media (min-width: @screen-sm-min) {
      li {
        a {
          .badge {
            float: right;
            margin-top: 9px;
          }
        }
      }
    }
  }
}



/*******************************************************************************
modal.less
*/
.modal-content {
  border-radius: 0;

  & .modal-header,
  .modal-footer {
    border-bottom-color: transparent;

    & .modal-title {
      &:extend(h2 all);
      margin-top: 21px;
      margin-bottom: 10.5px;
    }
  }
}

.modal-sm {
  .modal-footer button {
    &:extend(.btn-sm all);
  }
  @media (min-width: @screen-sm-min) {
    width: 400px;
  }
}

.modal-doc {
  width: 90%;
  height: 90vh;
  max-height: 90vh;

  .modal-content {
    height: 100%;
  }
  .modal-body {
    height: 74.5vh;
  }
  object#documentPreview {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}



/*******************************************************************************
alerts.less (notifications)
*/

// Alert common styles
.alert {
  padding: 25px 35px 25px 25px;
  margin-bottom: 24px;
  width: 300px;
  font-size: @font-size-small;
  border: none;
  border-radius: 0;
  border-top: 10px solid transparent;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  .layer(3);

  & .close {
    font-size: 27px;
  }

  .alert-title {
    margin-top: 0;
    margin-bottom: 10px;

    & i.mdi {
      font-size: 36px;
      position: relative;
    }
  }
}

// Alert type styles
// Info
.alert-info {
  background-color: @white;
  border-top-color: @bc-s03;
  color: @text-color;

  & .alert-title {
    color: @brand-info;
  }
}

// Success
.alert-success {
  background-color: @white;
  border-top-color: @bc-sp03;
  color: @text-color;

  & .alert-title {
    color: @bc-sp03;
  }
}


// Error
.alert-error {
  background-color: @white;
  border-top-color: @bc-sp05;
  color: @text-color;

  & .alert-title {
    color: @bc-sp05;
  }
}

/*******************************************************************************
tabs.less
*/

.scrtabs-tab-scroll-arrow-mdi {
  color: @bc-s01;
  cursor: pointer;
  display: none;
  float: left;
  font-size: 12px;
  height: 42px;
  margin-bottom: -1px;
  padding-top: 5px;
  width: 20px;

  &.scrtabs-disable {
    .opacity(.35);
    cursor: default;
  }
  .mdi-chevron-left {
    margin-left: -10px;
  }
  .mdi-chevron-right {
    margin-left: 10px;
  }
}

.nav-tabs {
  //Hidden until scrolling tabs plugin is ready
  display: none;
  > li {

    > a {
      &:extend(.btn-default all);
      //  padding: @nav-tabs-link-padding;
      font-size: @font-size-base - 1;
      border-bottom-color: @bc-s01;
      border-radius: 0;
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        //border-left-color: transparent;
      }
    }
  }
}

.tab-content {
  padding: 0 15px;
}



/*******************************************************************************
forms.less
*/
.form-group {
  & label,
  .form-control {
    font-size: @font-size-base - 1;
  }
  & .form-control {
    border-radius: 0;
    @shadow: none;
    .box-shadow(@shadow);
  }
}

@media (min-width: @screen-sm-min) {
  .form-group {
    & .form-control {
      height: 30px;
    }
  }
}

// Search bar
.search-wrap {
  margin-bottom: 25px;
  .panel-search{
    .form-group {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-bottom: 0;
    }
    .mdi {
      font-size: @font-size-h2;
      color: @gray-light;
      position: absolute;
      margin-left: 11px;
      margin-top: 3px;
    }
    input[type="search"] {
      padding: 20px 45px;
      font-size: @font-size-base + 2;
    }
  }
}


/*******************************************************************************
tables.less
*/
.table th {
  font-size: @font-size-base - 1;
  color: @gray-light;
  background-color: @gray-lighter;
}

//Reverse Bootstrap's stripe pattern
.table-striped>tbody>tr {
  background-color: #fff;
  &:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  &:nth-of-type(odd) {
    background-color: #fff;
  }
}

// Restrict column width of checkboxes and vertical more-menu icon
.th-checkbox {
  width: 40px;
}
.th-vertMore {
  width: 25px;
}

/*******************************************************************************
list-group.less
*/
.list-group {
  .list-group-item {
    padding: 20px;
    &:first-child,
    &:last-child {
      border-radius: 0;
    }
    &:nth-of-type(even) {
      background-color: #f9f9f9;
    }
  }
}


/*******************************************************************************
In app scrolling (Need to work on this so it doesn't apply to the main scroll bar)


::-webkit-scrollbar {
height: 16px;
overflow: visible;
width: 16px;
}
::-webkit-scrollbar-button {
height: 0;
width: 0
}
::-webkit-scrollbar-track {
background-clip: padding-box;
border: solid transparent;
border-width: 0 0 0 4px
}
::-webkit-scrollbar-track:horizontal {
border-width: 4px 0 0
}
::-webkit-scrollbar-track:hover {
background-color: rgba(0, 0, 0, .05);
box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1)
}
::-webkit-scrollbar-track:horizontal:hover {
box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1)
}
::-webkit-scrollbar-track:active {
background-color: rgba(0, 0, 0, .05);
box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07)
}
::-webkit-scrollbar-track:horizontal:active {
box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07)
}
.jfk-scrollbar-dark::-webkit-scrollbar-track:hover {
background-color: rgba(255, 255, 255, .1);
box-shadow: inset 1px 0 0 rgba(255, 255, 255, .2)
}
.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:hover {
box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2)
}
.jfk-scrollbar-dark::-webkit-scrollbar-track:active {
background-color: rgba(255, 255, 255, .1);
box-shadow: inset 1px 0 0 rgba(255, 255, 255, .25), inset -1px 0 0 rgba(255, 255, 255, .15)
}
.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:active {
box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), inset 0 -1px 0 rgba(255, 255, 255, .15)
}
::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, .2);
background-clip: padding-box;
border: solid transparent;
border-width: 1px 1px 1px 6px;
min-height: 28px;
padding: 100px 0 0;
box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07)
}
::-webkit-scrollbar-thumb:horizontal {
border-width: 6px 1px 1px;
padding: 0 0 0 100px;
box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .07)
}
::-webkit-scrollbar-thumb:hover {
background-color: rgba(0, 0, 0, .4);
box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25)
}
::-webkit-scrollbar-thumb:active {
background-color: rgba(0, 0, 0, 0.5);
box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35)
}
.jfk-scrollbar-dark::-webkit-scrollbar-thumb {
background-color: rgba(255, 255, 255, .3);
box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .15), inset 0 -1px 0 rgba(255, 255, 255, .1)
}
.jfk-scrollbar-dark::-webkit-scrollbar-thumb:horizontal {
box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .15), inset -1px 0 0 rgba(255, 255, 255, .1)
}
.jfk-scrollbar-dark::-webkit-scrollbar-thumb:hover {
background-color: rgba(255, 255, 255, .6);
box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .37)
}
.jfk-scrollbar-dark::-webkit-scrollbar-thumb:active {
background-color: rgba(255, 255, 255, .75);
box-shadow: inset 1px 1px 3px rgba(255, 255, 255, .5)
}
.jfk-scrollbar-borderless::-webkit-scrollbar-track {
border-width: 0 1px 0 6px
}
.jfk-scrollbar-borderless::-webkit-scrollbar-track:horizontal {
border-width: 6px 0 1px
}
.jfk-scrollbar-borderless::-webkit-scrollbar-track:hover {
background-color: rgba(0, 0, 0, .035);
box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07)
}
.jfk-scrollbar-borderless.jfk-scrollbar-dark::-webkit-scrollbar-track:hover {
background-color: rgba(255, 255, 255, .07);
box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .25), inset -1px -1px 0 rgba(255, 255, 255, .15)
}
.jfk-scrollbar-borderless::-webkit-scrollbar-thumb {
border-width: 0 1px 0 6px
}
.jfk-scrollbar-borderless::-webkit-scrollbar-thumb:horizontal {
border-width: 6px 0 1px
}
::-webkit-scrollbar-corner {
background: transparent
}
*/

//Extra small devices (phones, less than 768px)
//No media query since this is the default in Bootstrap

//Small devices (tablets, 768px and up)
//@media (min-width: @screen-sm-min) { ... }

//Medium devices (desktops, 992px and up)
//@media (min-width: @screen-md-min) { ... }

//Large devices (large desktops, 1200px and up)
//@media (min-width: @screen-lg-min) { ... }
