//
// Best Case Online
// Custom variables and Bootstrap Overrides Only
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
@gray-light-a:           lighten(@gray-base, 74%);   // #bdbdbd

//Best Case Colors
//Primary
@bc-p01:                 #1a202e; //CINight
@bc-p01-80:              lighten(desaturate(spin(@bc-p01, -0.7500), 17.6512), 16.8627); //#474c57
@bc-p01-60:              lighten(desaturate(spin(@bc-p01, -2.0000), 22.8997), 34.1176); //#757981
@bc-p01-40:              lighten(desaturate(spin(@bc-p01, 3.0000), 23.2323), 51.3725); //#a3a5ab
@bc-p01-20:              lighten(desaturate(spin(@bc-p01, 3.0000), 23.2323), 68.6275); //#d1d2d5
@bc-p02:                 #ebaa20; //Goldfinger
@bc-p02-80:              lighten(@bc-p02, 9%); //#efbb4c
@bc-p02-60:              lighten(@bc-p02, 19%); //#f3cc79
@bc-p02-40:              lighten(@bc-p02, 28%); //#f7dda5
@bc-p02-20:              lighten(@bc-p02, 38%); //#fbeed2

//Secondary
@bc-s01:                 #1bbcb6; //Celeste
@bc-s01-80:              lighten(desaturate(spin(@bc-s01, -0.0896), 20.4533), 11.3725); //#48c9c4
@bc-s01-60:              lighten(desaturate(spin(@bc-s01, -0.2382), 20.0815), 23.1373); //#76d7d3
@bc-s01-40:              lighten(desaturate(spin(@bc-s01, 0.3899), 20.2619), 34.5098); //#a3e4e2
@bc-s01-20:              lighten(desaturate(spin(@bc-s01, -1.4003), 18.9515), 46.2745); //#d1f2f0
@bc-s02:                 #354a53; //Aquaman
@bc-s02-80:              lighten(desaturate(spin(@bc-s02, -0.5000), 10.6303), 14.5098); //#5d6e75
@bc-s02-60:              lighten(desaturate(spin(@bc-s02, -1.3333), 14.0942), 29.0196); //#859297
@bc-s02-40:              lighten(desaturate(spin(@bc-s02, 2.0000), 14.0588), 43.9216); //#aeb6ba
@bc-s02-20:              lighten(desaturate(spin(@bc-s02, -8.0000), 14.1641), 58.4314); //#d6dbdc
@bc-s03:                 #2d83c4; //Skydiver
@bc-s03-80:              lighten(@bc-s03, 12%); //#56a0d8
@bc-s03-60:              lighten(@bc-s03, 22%); //#81b4db
@bc-s03-40:              lighten(@bc-s03, 33%); //#abcde7
@bc-s03-20:              lighten(@bc-s03, 43%);//#d5e6f3

//Supporting
@bc-sp01:               #602966; //Wonka
@bc-sp01-80:            lighten(desaturate(spin(@bc-sp01, -0.2208), 19.8666), 14.1176); //#7f5384
@bc-sp01-60:            lighten(desaturate(spin(@bc-sp01, -0.5848), 25.9153), 28.6275); //#9f7ea3
@bc-sp01-40:            lighten(desaturate(spin(@bc-sp01, -1.2984), 25.6505), 43.1373); //#bfa9c2
@bc-sp01-20:            lighten(desaturate(spin(@bc-sp01, 0.9016), 26.4411), 57.4510); //#dfd4e0

@bc-sp02:              #b21876; //80's Hair
@bc-sp02-80:            lighten(desaturate(spin(@bc-sp02, 0.0380), 26.4401), 11.9608); //#c14691
@bc-sp02-60:            lighten(desaturate(spin(@bc-sp02, 0.4943), 25.9674), 24.1176); //#d174ac
@bc-sp02-40:            lighten(desaturate(spin(@bc-sp02, -0.1508), 26.2376), 36.0784); //#e0a2c8
@bc-sp02-20:            lighten(desaturate(spin(@bc-sp02, 0.9984), 24.6247), 48.2353); //#f0d0e3
@bc-sp03:              #65ae45; //Success
@bc-sp03-80:            lighten(desaturate(spin(@bc-sp03, 0.4286), 3.9575), 10.3922); //#83be6a
@bc-sp03-60:            lighten(desaturate(spin(@bc-sp03,0.1905), 4.0794), 20.7843); //#a2ce8f
@bc-sp03-40:            lighten(@bc-sp03, 32%); //#c1dfb4
@bc-sp03-20:            lighten(@bc-sp03, 43%); //#e0efda
@bc-sp04:              #ed722d; //Warning
@bc-sp04-80:            lighten(@bc-sp04, 9%); //#f08e57
@bc-sp04-60:            lighten(@bc-sp04, 18%); //#f4aa81
@bc-sp04-40:            lighten(@bc-sp04, 27%); //#f8c6ab
@bc-sp04-20:            lighten(@bc-sp04, 36%); //#fce3d5
@bc-sp05:              #ea2032; //Danger
@bc-sp05-80:            lighten(@bc-sp05, 10%);  //#ee4c5b
@bc-sp05-60:            lighten(@bc-sp05, 19%); //#f27984
@bc-sp05-40:            lighten(@bc-sp05, 28%); //#f7a5ad
@bc-sp05-20:            lighten(@bc-sp05, 38%); //#fbd2d6

@bc-sp06:               #f8f8f8; //Lodon Fog
@bc-sp07:               @gray-dark; //Inkstain
@bc-sp08:               #fff; //Whitesox

@white:                 #fff; //Set a white variable incase we want to change
                            //what we consider "white"

// Map Bootstrap variables to our colors
@brand-primary:         @bc-s01; //Celeste
@brand-success:         @bc-sp03; //Success
@brand-info:            @bc-s03; //Skydiver
@brand-warning:         @bc-sp04; //Warning
@brand-danger:          @bc-sp05; //Danger

//== Scaffolding
//
//## Settings for some of the most global styles.
//** Global textual link color.
@link-color:            @bc-s03; //Skydiver

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-size-h1:            floor((@font-size-base * 2.3)); // ~32px
@font-size-h2:            floor((@font-size-base * 1.8)); // ~25px
@font-size-h3:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h4:            ceil((@font-size-base * 1.14)); // ~16px
@font-size-h5:            @font-size-base; // 14px
@font-size-h6:            ceil((@font-size-base * .85)); // ~12px

// Set a font size for button icons
@font-size-btn-icon:      18px;


//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.5; //  1.7142857143;  BS= 1.428571429

//** By default, this inherits from the `<body>`.
@headings-font-family:    Roboto, "Open Sans", Arial, sans-serif;
@headings-font-weight:    300;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     4px;
@padding-base-horizontal:   15px;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    @white;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
@table-bg-hover:                #f5f5f5;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            @bc-s02-20;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

// New values for Bootstrap default button
@btn-default-color:              @text-color;
@btn-default-bg:                 lighten(@bc-s02-20, 10%);
@btn-default-border:             @btn-default-bg;

// New values for Bootstrap primary button
@btn-primary-color:              @white;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             @btn-primary-bg;

// New values for Bootstrap danger button
@btn-danger-color:               @brand-danger;
@btn-danger-bg:                  transparent;
@btn-danger-border:              @brand-danger;

@btn-success-color:              @white;
@btn-success-bg:                 @brand-success;
@btn-success-border:             @btn-success-bg

@btn-info-color:                 @white;
@btn-info-bg:                    @brand-info;
@btn-info-border:                @btn-info-bg

@btn-warning-color:              @white;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             @btn-warning-bg



// Allows for customizing button radius independently from global border radius
@btn-border-radius-base:         @border-radius-base;

//== Forms
//
//##

//** `<input>` border color
@input-border:                   @bc-s02-20;

@input-border-radius:            0;
//** Large `.form-control` border radius
@input-border-radius-large:      0;
//** Small `.form-control` border radius
@input-border-radius-small:      0;

//** Border color for inputs on focus
@input-border-focus:             @bc-s01;



//== Navs
//
//##

//=== Shared nav styles
@nav-link-hover-bg:                         darken(@gray-lighter, 15%);

//== Tabs
@nav-tabs-border-color:                     @bc-s01;

@nav-tabs-link-hover-border-color:          @gray-light-a;

@nav-tabs-active-link-hover-bg:             @white;
@nav-tabs-active-link-hover-color:          @bc-s01;
@nav-tabs-active-link-hover-border-color:   @bc-s01;

@nav-tabs-justified-link-border-color:            @bc-s01;

//== Panels
//
//##
@panel-body-padding:          20px;
@panel-heading-padding:       20px;
@panel-border-radius:         0;
