@import "../bootstrap";          // Bootstrap
@import "../prism.less";         // Prism.js styles

@import "mixins/buttons";         // Button constructs
@import "components/navs";        // Nav styles

//Always last
@import "variables";             // New and override variables

/*******************************************************************************
Home page
*/
body.home {
  background-color: @cin-p01;

  &.menu-open {
    & nav.navbar {
      background-color: transparent !important;
    }
    & .main-hero {
      .opacity(.3);
    }
  }
  & .navbar-form {
    display: none;
  }

  & .main-hero {
    background-color: @cin-p01;
    & .silverback-welcome {
      .make-md-column(10);
      .make-md-column-offset(1);
      padding-top: 100px;
      padding-bottom: 100px;
      color: @white;
      .text-center;
      > img {
        max-width: 200px;
        margin: 0 auto 50px auto;
      }
      > .silverback-welcome-search{
        & .mdi-magnify {
          font-size: @font-size-h2;
          color: @gray-light;
          position: absolute;
          left: 26px;
          margin-top: 26px;
        }
        & input[type="search"] {
          padding: 25px 45px;
          font-size: @font-size-base + 2;
        }
      }
    }
  }
}

@media (min-width: @screen-lg-min) {
  body.home {
    & .main-hero {
      & .silverback-welcome {
        > .lead {
          font-size: 32px;
          margin-bottom: 40px;
        }
      }
    }
  }
}


/*******************************************************************************
Best Case Silverback Styling
Target the .bestcaseonline body class
*/

.bestcaseonline {
  & .font-example-roboto span,
  .font-example-opensans span {
    &:extend(h2);
  }
  & .font-example-roboto span {
    &.example-roboto-light {
      font-weight: 300;
    }
    &.example-roboto-regular {
      font-weight: 400;
    }
    &.example-roboto-bold {
      font-weight: 700;
    }
  }
  & .font-example-opensans span {
    &.example-opensans-regular {
      font-weight: 400;
    }
    &.example-opensans-semibold {
      font-weight: 600;
    }
  }
  #montane-panel-footer-left .panel-montane,
  #montane-panel-footer-right .panel-montane,
  #montane-panel-footer-split .panel-montane {
    border-top-width: 0;
  }
}

/***********************************
Hide sections or pages that aren't done from the sidenav
*/
.menu-item-77 {
  //display: none !important;
}

/*******************************************************************************
SB Doc Sections
*/
.sb-docs-section {
  margin-top: 50px;

  &:first-of-type {
    margin-top: inherit;
  }

  &.intro h2+p {
    &:extend(.lead all);
  }

  > .sb-docs-subsection {
    margin-bottom: 45px;
    margin-left: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-left: 1px solid lighten(@cin-p02, 40%);

  }

  & .section-example {
    margin-top: 30px;
    > .example-container {
      &:extend(.panel all);
      &:extend(.panel-default all);
      margin-bottom: 0;

      > .example-container-body {
        background-color: @bc-sp06;
        &:extend(.panel-body all);
        padding: 24px;
      }

      > .example-container-footer {
        &:extend(.panel-footer all);
        padding: 15px 24px;
      }
    }
    & .prismjs-code {
      margin-top: 25px;
      overflow: auto;
      > h5 {
        font-weight: 600;
        color: @cin-s09;
      }
    }
  }

}

.sb-docs-section {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    //font-weight: 400;
    margin-top: 0;
  }
  & h1, .h1 {
    font-size: @font-size-h1;
  }
  & h2, .h2 {
    font-size: @font-size-h2;
  }
  & h3, .h3 {
    font-size: @font-size-h3;
  }
  & h4, .h4 {
    font-size: @font-size-h4;
    &.section-subheading {
      color: @cin-p02;
    }
  }
  & h5, .h5 {
    font-size: @font-size-h5;
    &.section-subheading {
      font-weight: 300;
    }
  }
  & h6, .h6 {
    font-size: @font-size-h6;
  }
}

/*******************************************************************************
Code Copy
*/

.snippet .btn {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 6px;
  right: 6px;
}
.snippet:hover .btn, .snippet .btn:focus {
  opacity: 1;
}

/*******************************************************************************
Buttons
*/
// Keep the Silverback Buttons from getting overridden by the Troops buttons
// and apply customiziation such as no radius without effecting Troops.
button.sb-btn,
a.sb-btn,
.sb-btn {
  border-radius: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  &.btn-primary {
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  }
  &.btn-default {
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  }
  &.btn-success {
    .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
  }
  &.btn-info {
    .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
  }
  &.btn-warning {
    .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
  }
  &.btn-danger {
    .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
  }
  &.btn-copy {
    .button-variant(@btn-copy-color; @btn-copy-bg; @btn-copy-border);
    font-family: @font-family-sans-serif;
  }
}

//Add outline buttons
// Mixin for the outline button variant

.button-outline-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:focus,
  &.focus {
    color: @color;
    background-color: lighten(@border, 10%);
    border-color: @border;
  }
  &:hover {
    color: darken(@border, 40%);
    background-color: lighten(@border, 0%);
    border-color: @border;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: lighten(@border, 10%);
    border-color: @border;

    &:hover,
    &:focus,
    &.focus {
      color: @color;
      background-color: lighten(@border, 10%);
      border-color: @border;
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: @background;
      border-color: @border;
    }
  }

}

// Style the outline buttons
.btn-outline-default {
  .button-outline-variant(@text-color; transparent; @btn-default-border);
}
.btn-outline-primary {
  .button-outline-variant(@cin-p01; transparent; @cin-p01);
}
.btn-outline-secondary {
  .button-outline-variant(@cin-p02; transparent; @cin-p02);
}
.btn-outline-danger {
  .button-outline-variant(@brand-danger; transparent; @brand-danger);
}


/*******************************************************************************
slvrbck docs
*/

.section-page-heading+p {
  &:extend(.lead all);
}


a.anchor {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}

section.panel-examples .panel {
  margin-bottom: 50px;
}



.buttons #disabled .row,
.buttons #active .row {
  margin-bottom: 30px;
}

.buttons #buttons-ghost .well {
  background-color: @bc-p01;
  padding: 30px;
}

.buttons button+div code,
.buttons a+div code {
  position: relative;
  top: 10px;
}

#slvrbck-example-modal.modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}



/*******************************************************************************
<header>
navbar.less
*/
#silverback-header {
  > .navbar {
    margin-bottom: 0;
  }

  > .navbar-inverse {
    background-color: @cin-p01;
    border-bottom-width: 0;

    & .navbar-nav li a,
    .navbar-brand  {
      color:  darken(@white, 15%);

      &:hover,
      &:focus {
        color: @white;
      }
    }
    & .navbar-nav>.active>a,
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus,
    .navbar-nav>.current-page-ancestor>a,
    .navbar-nav>.current-page-ancestor>a:hover,
    .navbar-nav>.current-page-ancestor>a:focus{
      color: @white;
      background-color: lighten(@cin-p01, 3%);
      border-top: 4px solid lighten(@cin-p02, 1%);
      padding-top: 9px;
    }
  }
  & .navbar-form {
    & .mdi-magnify {
      position: absolute;
      top: 15px;
      margin-left: 5px;
    }
    & input[type="search"]{
      padding-left: 20px;
    }
  }
}
/*******************************************************************************
<main>
*/

#silverback-main {
  &:extend(.container-fluid all);
  & .gorilla-nest {
    .make-row();
  }
}

/***************************************
main-secondary
*/


.main-secondary {
  display: none;

  > .sidebar {
    margin: 0px -15px 0 -15px;
  }
  > .sidebar li a {
    padding: 10px 35px;
    color: @cin-p01;
    font-size: @font-size-base - 1;

    &:hover,
    :focus {
      background-color: lighten(@cin-p02, 31%);
    }
  }

  > .sidebar .nav.nested {
    display: none;
  }
  > .sidebar .nav>li.active .nav.nested,
  .sidebar .nav>.active>.nav.nested,
  .sidebar .nav>.current-menu-parent>.nav.nested  {
    display: block;
  }

  > .sidebar .nav>.current-page-parent .mdi-chevron-right:before,
  .sidebar .nav>.active .mdi-chevron-right:before {
    content: "\F140";
  }

  > .sidebar .nav.nested a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 55px; //was 35px, added 20px
  }

  > .sidebar .current-menu-parent {
    background-color: lighten(@cin-p02, 38%);
  }
  > .sidebar .current_page_item.active>a {
    background-color: lighten(@cin-p02, 31%);
    border-left: 5px solid @cin-p02;
    color: darken(@cin-p02, 15%);
    font-weight: 600;
    padding-left: 50px;
  }
}

.main-secondary {
  .main-brand {
    padding: 15px;

    > .main-brand-logo {
      background: url(/wp-content/uploads/silverback-logo.svg) 50% 50% no-repeat;
      background-size: 87px 70px;
      display: flex;
      height: 70px;
      width: 87px;
      margin: 0 auto;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
    }
  }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .main-secondary {
    .make-sm-column(3);
    .make-md-column(2);
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: lighten(@cin-p02, 43%);
    border-right: 1px solid #eee;
  }
}

//Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {
  .main-secondary {
    > .sidebar li a {
      font-size: @font-size-base;
    }
  }
}
/***************************************
main-tertiary
*/

.main-tertiary {
  > .sidebar {
    display: none;
    border-left: 1px solid @bc-s02-20;
    margin-left: 20px;
    padding-left: 20px;

    & .sidebar-title {
      margin-left: 15px;
      font-size: @font-size-h4 - 4;
    }
    /* Add this if you want to do something with the nested tertiary nav
    & .nav.nested a {
    padding-left: 15px;
  }
  */
  & li {
    &.active {
      font-weight: 600;
    }
    > a {
      font-size: @font-size-base - 1;
      & .active {
        font-weight: 600;
      }
      &:hover,
      :focus {
        background-color: lighten(@cin-p02, 31%);
      }
    }
  }
}
}

@media (min-width: @screen-md-min) {
  .main-tertiary {
    > .sidebar {
      display: block;
    }
    /* Widen the fixed sidebar */
    >  .sidebar.affix,
    .sidebar.affix-bottom {
      width: 204px;
    }
    >  .sidebar.affix {
      position: fixed;
      top: 100px;
    }
    >  .sidebar.affix-bottom {
      position: absolute; /* Undo the static from mobile first approach */
    }
  }
}


@media (min-width: @screen-lg-min) {
  /* Widen the fixed sidebar */
  .main-tertiary {
    > .sidebar {
      &.affix,
      .affix-bottom {
        width: 18.25%;
      }
      & .sidebar-title {
        margin-left: 15px;
        font-size: inherit;
      }
      & li {
        > a {
          font-size: inherit;
        }
      }
    }
  }
}




/***************************************
main-primary
*/


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .main-primary {
    .make-sm-column(9);
    .make-sm-column-offset(3);
    .make-md-column(10);
    .make-md-column-offset(2);
    padding-left: 100px;
  }
}

.main-primary {
  & .main-primary-header {
    margin: 0 -15px 30px -15px;
    padding: 25px 15px 7px 100px;
    background-color: @cin-s06;
    color: @white;
    @shadow: @dropshadow;
    .box-shadow(@shadow);

    & .entry-title h6 {
      margin-top: 0;
      margin-bottom: 6px;
      display: none;
    }

    & .entry-title h1 {
      margin-top: 0;
      text-transform: lowercase;
    }
  }

  & .main-primary-container {
    .make-md-column(12);
    max-width: 1170px; //set a max-width when there is no right sidebar

    &.has-tertiary {
      .make-md-column(9);
      max-width: none;
    }
  }

  & .main-tertiary {
    .make-md-column(3);
  }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .main-primary {
    .main-primary-header {
      margin: 0 -15px 30px -100px;

      & .entry-title h6 {
        display: block;
      }
    }
  }
}



h1 .parent_page,
h1 .current_page {
  color:  darken(@white, 15%);
}

h1 .current_page_child {
  font-weight: 600;
}

.header-colorbar {
  width: 24px;
  position: relative;
  margin-left: -85px;
  margin-top: -25px;
  margin-bottom: -77px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;

  & > div {
    .make-row();
  }

  & [class^="colorbar-item-"] {
    .make-xs-column (6);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 47%;
  }
}


.colorbar-item-1 {
  background-color: @bc-p01;
}
.colorbar-item-2 {
  background-color: @bc-s01;
}
.colorbar-item-3 {
  background-color: @white;
}
.colorbar-item-4 {
  background-color: @bc-p02;
}
.colorbar-item-5 {
  background-color: @bc-s01-60;
}
.colorbar-item-6 {
  background-color: @bc-s03;
}
.colorbar-item-7 {
  background-color: @bc-sp01;
}
.colorbar-item-8 {
  background-color: @bc-p01;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .header-colorbar {
    //display: block;
  }
}


/*******************************************************************************
main-primary main-primary-container
*/

/***********************************
General styles for elements in container
*/

section.section-contents {
  margin-top: 30px;
  padding-bottom: 30px;

  &:first-of-type {
    margin-top: inherit;
  }
}

mark.censored {
  padding: 3px;
  background-color: @cin-p01;
}

/***********************************
components/grid
*/

//Grid for Michael
.fluidGridSystem,
.fluidGridSystem-sidebar {
  margin-bottom: 50px;

  > .row {
    margin-bottom: 10px;
    > div:nth-of-type(odd){
      background-color: @bc-sp03-40;
      & .fluidGridSystem-col:first-child {
        background-color: @bc-s03-40;
        text-align: center;
        padding: 15px 0;
      }
    }
    > div:nth-of-type(even) {
      background-color: @bc-sp03-20;

      & .fluidGridSystem-col:last-of-type {
        background-color: @bc-s03-20;
        text-align: center;
        padding: 15px 0;
      }

    }
  }
}

.fluidGridSystem-sidebar .fluidGridSystem-col {
  min-height: 886px;
}

/*********************************
components/tabs
*/
.tab-col {
  height: 50px;
  background-color: @bc-s03-20;
}

/*********************************
styles/colors
*/
section.colors {
  margin: 45px 0;
}

.colors td {
  width: 40%;

  &.colors-less {
    width: 20%;
  }
}


.swatches-panel {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.swatches-panel,
.swatches-less{
  min-height: 50px;
}

.swatches-less {
  padding-top: 7%;
}


.swatches.bc-p01 .swatches-panel {
  background-color: @bc-p01;
  &:nth-of-type(2n) {
    background-color:  @bc-p01-80;
  }
  &:nth-of-type(3n)  {
    background-color: @bc-p01-60;
  }
  &:nth-of-type(4n)  {
    background-color: @bc-p01-40;
  }
  &:nth-of-type(5n)  {
    background-color: @bc-p01-20;
  }
}

.swatches.bc-p02 .swatches-panel {
  background-color: @bc-p02;
  &:nth-of-type(2n) {
    background-color:  @bc-p02-80;
  }
  &:nth-of-type(3n)  {
    background-color: @bc-p02-60;
  }
  &:nth-of-type(4n)  {
    background-color: @bc-p02-40;
  }
  &:nth-of-type(5n)  {
    background-color: @bc-p02-20;
  }
}

.swatches.bc-s01 .swatches-panel {
  background-color: @bc-s01;
  &:nth-of-type(2n) {
    background-color:  @bc-s01-80;
  }
  &:nth-of-type(3n)  {
    background-color: @bc-s01-60;
  }
  &:nth-of-type(4n)  {
    background-color: @bc-s01-40;
  }
  &:nth-of-type(5n)  {
    background-color: @bc-s01-20;
  }
}

.swatches.bc-s02 .swatches-panel {
  background-color: @bc-s02;
  &:nth-of-type(2n) {
    background-color:  @bc-s02-80;
  }
  &:nth-of-type(3n)  {
    background-color: @bc-s02-60;
  }
  &:nth-of-type(4n)  {
    background-color: @bc-s02-40;
  }
  &:nth-of-type(5n)  {
    background-color: @bc-s02-20;
  }
}

.swatches.bc-s03 .swatches-panel {
  background-color: @bc-s03;
  &:nth-of-type(2n) {
    background-color:  @bc-s03-80;
  }
  &:nth-of-type(3n)  {
    background-color: @bc-s03-60;
  }
  &:nth-of-type(4n)  {
    background-color: @bc-s03-40;
  }
  &:nth-of-type(5n)  {
    background-color: @bc-s03-20;
  }
}

.swatches.bc-sp01 .swatches-panel {
  background-color: @bc-sp01;
  &:nth-of-type(2n) {
    background-color:  @bc-sp01-80;
  }
  &:nth-of-type(3n)  {
    background-color: @bc-sp01-60;
  }
  &:nth-of-type(4n)  {
    background-color: @bc-sp01-40;
  }
  &:nth-of-type(5n)  {
    background-color: @bc-sp01-20;
  }
}

.swatches.bc-sp02 .swatches-panel {
  background-color: @bc-sp02;
  &:nth-of-type(2n) {
    background-color:  @bc-sp02-80;
  }
  &:nth-of-type(3n)  {
    background-color: @bc-sp02-60;
  }
  &:nth-of-type(4n)  {
    background-color: @bc-sp02-40;
  }
  &:nth-of-type(5n)  {
    background-color: @bc-sp02-20;
  }
}

.swatches.bc-sp03 .swatches-panel {
  background-color: @bc-sp03;
  &:nth-of-type(2n) {
    background-color:  @bc-sp03-80;
  }
  &:nth-of-type(3n)  {
    background-color: @bc-sp03-60;
  }
  &:nth-of-type(4n)  {
    background-color: @bc-sp03-40;
  }
  &:nth-of-type(5n)  {
    background-color: @bc-sp03-20;
  }
}

.swatches.bc-sp04 .swatches-panel {
  background-color: @bc-sp04;
  &:nth-of-type(2n) {
    background-color:  @bc-sp04-80;
  }
  &:nth-of-type(3n)  {
    background-color: @bc-sp04-60;
  }
  &:nth-of-type(4n)  {
    background-color: @bc-sp04-40;
  }
  &:nth-of-type(5n)  {
    background-color: @bc-sp04-20;
  }
}

.swatches.bc-sp05 .swatches-panel {
  background-color: @bc-sp05;
  &:nth-of-type(2n) {
    background-color:  @bc-sp05-80;
  }
  &:nth-of-type(3n)  {
    background-color: @bc-sp05-60;
  }
  &:nth-of-type(4n)  {
    background-color: @bc-sp05-40;
  }
  &:nth-of-type(5n)  {
    background-color: @bc-sp05-20;
  }
}
.swatches.bc-sp06 .swatches-panel {
  background-color: @bc-sp06;
}
.swatches.bc-sp07 .swatches-panel {
  background-color: @bc-sp07;
}
.swatches.bc-sp08 .swatches-panel {
  background-color: @bc-sp08;
}
.swatches.bc-sp06 .swatches-panel,
.swatches.bc-sp07 .swatches-panel,
.swatches.bc-sp08 .swatches-panel {
  border-radius: 50%;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  @shadow: @dropshadow;
  .box-shadow(@shadow);
}

/*********************************
guidelines/principles
*/

.principle-list .mdi {
  position: absolute;
  margin-top: -20px;
  font-size: 50px;

  &.mdi-human-male-female {
    color: @bc-s02;
  }
  &.mdi-arrange-send-backward {
    color: @bc-s01;
  }
  &.mdi-lightbulb-on-outline {
    color: @bc-sp01;
  }
  &.mdi-gender-male-female {
    color: @bc-s03;
  }
}

.principle-list dl {
  margin-left: 100px;
  margin-bottom: 50px;
}

/*********************************
styles/typography
*/

#fonts {

  h3.line-height-example {
    line-height: 1.25;
  }

  p.line-height-example {
    line-height: 1.5;
  }
}








/*******************************************************************************
prism.less Overrides
//keep seperate from Prism.less
*/

.main-primary pre {
  position: relative;
  padding: 35px 15px 30px;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: darken(@gray, 10%);
}

code[class*="language-"], pre[class*="language-"] {
  font-size: @font-size-base - 2;
}

//Prism unescaped markup plugin css
/* Fallback, in case JS does not run, to ensure the code is at least visible */
.lang-markup script[type='text/plain'],
.language-markup script[type='text/plain'],
script[type='text/plain'].lang-markup,
script[type='text/plain'].language-markup {
  display: block;
  font: 100% Consolas, Monaco, monospace;
  white-space: pre;
  overflow: auto;
}








/*******************************************************************************
type.less
*/


p {
  margin: 0 0 (@line-height-computed);

  &+ul {
    margin-top: -12px;
  }
}

.hint {
  &:extend(.text-muted);
}

.loud {
  color: @bc-sp02;
}

@media (min-width: @screen-sm-min) {
  .lead {
    font-size: floor((@font-size-base * 1.45));
  }
}

/*******************************************************************************
tables.less
*/



/*******************************************************************************
scafffolding.less
*/
body {
  padding-top: 50px;
}

/*******************************************************************************
buttons.less
*/

//Remove blue focus glow from links and buttons
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
a:focus {
  outline: 0;
  outline-offset: 0;
}

.btn-sibling {
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
}




//Extra small devices (phones, less than 768px)
//No media query since this is the default in Bootstrap

//Small devices (tablets, 768px and up)
//@media (min-width: @screen-sm-min) { ... }

//Medium devices (desktops, 992px and up)
//@media (min-width: @screen-md-min) { ... }

//Large devices (large desktops, 1200px and up)
//@media (min-width: @screen-lg-min) { ... }
